body, html, #root, .app-container {
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #eeeded;
  color: #333;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.light-mode {
  background-color: #f8f8f8;
  color: #333;
}

.dark-mode {
  background-color: #222;
  color: #eee;
}

.tier-cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); /* Mindestbreite für Karten */
  gap: 25px; /* Mehr Abstand zwischen den Karten */
  overflow-y: auto;
  margin: 30px; /* Mehr Margin um den Container */
  padding: 25px; /* Mehr Padding innerhalb des Containers */
  border-radius: 12px;
  background-color: white;
  box-sizing: border-box;
  flex-grow: 1; /* Erlaubt dem Container zu wachsen und den verfügbaren Platz einzunehmen */
}

.dark-mode .tier-cards-container {
  background-color: #333;
  border-color: #555;
}