.titel-container {
    width: 100%;
    color: white;
    text-align: center;
    padding: 60px 20px; /* Mehr vertikales Padding, weniger horizontal bei Bedarf */
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    flex-shrink: 0; /* Verhindert, dass sich der Titelbereich verkleinert */
  }
  
  .titel-container.light-mode {
    background-image: url('../assets/bg_hell.jpg');
  }
  
  .titel-container.dark-mode {
    background-image: url('../assets/bg_dunkel.jpg');
  }
  
  .titel-container h1 {
    margin: 0;
    font-size: 3.5em; /* Noch etwas größer */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }