.nav-bar {
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 10px 0;
   }
   
  
   .nav-button {
    color: #333;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s, color 0.3s;
    font-size: 1.1em; /* Angepasst an die Navbar */
   }
   
  
   .nav-button:hover {
    background-color: rgba(220, 220, 220, 0.6);
    transform: scale(1.05);
    color: #111;
   }
   
  
   .nav-button.active {
    background-color: rgba(200, 200, 200, 0.8);
    color: #000;
    font-weight: bold;
   }
   
  
   .dark-mode .nav-bar {
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 -2px 4px rgba(255, 255, 255, 0.2);
   }
   
  
   .dark-mode .nav-button {
    color: #eee;
   }
   
  
   .dark-mode .nav-button:hover {
    background-color: rgba(50, 50, 50, 0.6);
    color: #fff;
   }
   
  
   .dark-mode .nav-button.active {
    background-color: rgba(70, 70, 70, 0.6);
    color: #fff;
    font-weight: bold;
   }